<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="medicos">
    <select id="getAllMedicos" resultType="pojos.Medico">
        SELECT idMedico, noPersonal, medico.nombre, apellidoPaterno, apellidoMaterno, fechaNacimiento, idRol, catalogo.nombre as 'rol' FROM medico INNER JOIN catalogo ON medico.idRol = catalogo.idCatalogo WHERE idEstatus=201;
    </select>
    <select id="getById" resultType="pojos.Medico" parameterType="int">
        SELECT * FROM medico WHERE idMedico = #{id}
    </select>
    <insert id="registrar" parameterType="pojos.Medico">
        INSERT INTO medico (nombre, apellidoPaterno, apellidoMaterno, fechaNacimiento, genero, domicilio, noPersonal, cedula, password, idRol, idEstatus)
        VALUES (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{fechaNacimiento}, #{genero}, #{domicilio}, #{noPersonal}, #{cedula}, #{password}, #{idRol}, 201)
    </insert>
    <update id="eliminar" parameterType="int">
        UPDATE medico SET idEstatus = 202 WHERE idMedico = #{idMedico} 
    </update>
    <update id="actualizar" parameterType="pojos.Medico">
        UPDATE medico SET nombre = #{nombre}, apellidoPaterno = #{apellidoPaterno}, apellidoMaterno = #{apellidoMaterno}, fechaNacimiento = #{fechaNacimiento}, genero = #{genero}, domicilio = #{domicilio}, cedula = #{cedula}, password = #{password}, idRol = #{idRol} WHERE idMedico = #{idMedico} 
    </update>
    <select id="login" resultType="pojos.Medico" parameterType="pojos.Medico">
        SELECT * FROM medico WHERE noPersonal = #{noPersonal} AND password = #{password}
    </select>
    <update id="subirFoto" parameterType="map">
        UPDATE medico SET foto = #{foto} WHERE idMedico = #{idMedico} 
    </update>
    <select id="obtenerFoto" parameterType="int" resultType="pojos.Medico">
        SELECT idMedico, nombre, apellidoPaterno, apellidoMaterno, TO_BASE64(foto) as 'foto' FROM medico WHERE idMedico = #{idMedico}
    </select>
</mapper>
