<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="promocion">
    <insert id="registrar" parameterType="pojos.Promocion">
        INSERT INTO promocion (nombre, fechaIni, fechaFin, descripcion, restricciones, tipo, porcentaje, costo, status, categoria, enterprise_id)
        VALUES (#{nombre}, #{fechaIni}, #{fechaFin}, #{descripcion}, #{restricciones}, #{tipo}, #{porcentaje}, #{costo}, 1, #{categoria}, #{enterprise_id})
    </insert>
    <insert id="asignarSucursal" parameterType="map">
        INSERT INTO promocion_sucursal (promocion_id, sucursal_id)
        VALUES (#{promocion_id}, #{sucursal_id})
    </insert>
    <delete id="eliminarSucursal" parameterType="map">
        DELETE FROM promocion_sucursal WHERE promocion_id = #{promocion_id} AND sucursal_id = #{sucursal_id}
    </delete>
    <update id="actualizar" parameterType="pojos.Promocion">
        UPDATE promocion SET nombre = #{nombre}, descripcion = #{descripcion}, restricciones = #{restricciones}, tipo = #{tipo}, porcentaje = #{porcentaje}, costo = #{costo}, categoria = #{categoria}, enterprise_id = #{enterprise_id} WHERE id = #{id} 
    </update>
    <update id="eliminar" parameterType="int">
        UPDATE promocion SET status = 0 WHERE id = #{id} 
    </update>
    <select id="search" resultType="pojos.Promocion" parameterType="string">
        SELECT * FROM promocion
        WHERE nombre LIKE #{string}
        OR fechaIni LIKE #{string}
        OR fechaFin LIKE #{string}
    </select>
    <update id="subirFoto" parameterType="map">
        UPDATE promocion SET foto = #{foto} WHERE id = #{id} 
    </update>
    <select id="getCategorias" resultType="pojos.Categoria">
        SELECT * FROM categorias
    </select>
    <select id="byCategoria" resultType="pojos.Promocion" parameterType="int">
        SELECT promocion.id, promocion.nombre, DATE_FORMAT(fechaIni, "%d/%m/%Y") AS 'fechaIni', DATE_FORMAT(fechaFin, "%d/%m/%Y") AS 'fechaFin', tipo, enterprise.nombre as 'empresa' FROM promocion INNER JOIN enterprise ON promocion.enterprise_id = enterprise.id
        WHERE categoria = #{categoria_id}
    </select>
    <select id="details" resultType="pojos.Promocion" parameterType="int">
        SELECT nombre, descripcion, DATE_FORMAT(fechaIni, "%d/%m/%Y") AS 'fechaIni', DATE_FORMAT(fechaFin, "%d/%m/%Y") AS 'fechaFin', restricciones, tipo, porcentaje, costo FROM promocion 
        WHERE id = #{id}
    </select>
    <select id="obtenerFoto" parameterType="int" resultType="pojos.Promocion">
        SELECT TO_BASE64(foto) as 'foto' FROM promocion WHERE id = #{id}
    </select>
</mapper>