<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user_system">
    <insert id="registrar" parameterType="pojos.UserSystem">
        INSERT INTO user_system (nombre, apellidoP, apellidoM, correo, password, status)
        VALUES (#{nombre}, #{apellidoP}, #{apellidoM}, #{correo}, #{password}, 1)
    </insert>
    <update id="subirFoto" parameterType="map">
        UPDATE user_system SET foto = #{foto} WHERE id = #{idUsuario} 
    </update>
    <update id="actualizar" parameterType="pojos.UserSystem">
        UPDATE user_system SET nombre = #{nombre}, apellidoP = #{apellidoP}, apellidoM = #{apellidoM}, password = #{password} WHERE id = #{idUsuario} 
    </update>
    <update id="eliminar" parameterType="int">
        UPDATE user_system SET status = 0 WHERE id = #{id} 
    </update>
    <select id="login" resultType="pojos.UserSystem" parameterType="pojos.UserSystem">
        SELECT correo FROM user_system WHERE correo = #{correo} AND password = #{password}
    </select>
</mapper>